*, *::before, *::after {
    box-sizing: border-box;
  }


body{
  margin: 0;
  padding: 0;
  background-image: url("./assets/img/lemonade.png");
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(6px);
  height: 100vh;
  transition: .3s ease-in-out;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.footer {
  height: 10vh;
  background-color: rgb(78, 78, 78);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
  padding: 0px 40px;
}
.footer-name {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid transparent;
  transition: .2s ease-in-out;
}
.footer-name:hover {
  border-bottom: 1px solid;
}
.footer-logo {
  width: 120px;
}

.player {
  max-width: 40vw;
  background: linear-gradient(90deg, rgba(26,33,47,1) 0%, rgba(89,119,143,1) 67%, rgba(160,215,252,1) 100%);
  box-shadow: 0 0 10px 10px  rgb(75, 73, 73);
  border-radius: 20px;
  overflow: hidden;
   @media(max-width:1024px) {
          max-width: 60vw;
      }
  @media(max-width:576) {
        max-width: 80vw;
    }
}
.player-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}
.player-info__author {
  font-size: 22px;
  font-weight: 700;
  color: rgb(185, 249, 153);
  margin-bottom: 8px;
}
.player-info__song {
  color: #fff;
  font-size: 18px;
  
}
.player-controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}

.player-controls__btn {
  padding: 5px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}
.player-controls__icon {
  width: 40px;
  height: 40px;
  filter: invert(1);
}
.player-info__img {
  object-fit: cover;
  height: 334px;
  width: 100%;
}

.player-progress {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-progress input {
  width: 100%;
  max-width: 80%;
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 25.5rem;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #000000;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: 0px; /* Centers thumb on the track */
  background-color: #52ffcb;
  border-radius: 0.5rem;
  height: 0.5rem;
  width: 1.5rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid #52ffcb;
  outline-offset: 0.125rem;
}

.player-time {
  width: 100%;
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.player-time--g {
  font-size: 14px;
  font-weight: 400;
}
.player-time--g:first-child {
  color: #fff;
}
.player-time--g:last-child {
  font-weight: 600;
  color: rgb(185, 249, 153);
}